# logs
log.txt

# other
*.fuse_*

# cache
.phpunit.result.cache

# Database configuration that can be different beetween every developer's local
# machine.
config/db.json

# vendor
vendor/phpunit

# User avatars folder
public/images/avatars