# logs
log.txt

# other
*.fuse_*

# cache
.phpunit.result.cache

# vendor
vendor/phpunit

# User core config. There are settings for access to a database, but mysql settings
# may be different from one user to another, so we ignore this config file.
config/core.json