# logs
log.txt

# umls
_dev/uml/*.png
_dev/uml/*.jpg
_dev/uml/*.jpeg
_dev/uml/*.svg

# other
*.fuse_*

# cache
.phpunit.result.cache

# Database configuration that can be different beetween every developer's local
# machine.
config/db.json

# vendor
vendor/phpunit

# User avatars folder
public/images/avatars

# fontello
/public/fonts/fontello*.zip
/public/fonts/fontello/*.json
/public/fonts/fontello/*.txt
/public/fonts/fontello/css/*
!/public/fonts/fontello/css/animation.css
!/public/fonts/fontello/css/fontello-embedded.css

# npm
node_modules
public/build
public/package-lock.json
public/npm-debug.log

# other
runtime

# PHP Depend testing
/_dev/metrics