#Включает обработку правил
RewriteEngine On

#Корень сайта
RewriteBase /

#Главный файл:
DirectoryIndex core.php

#Установка кодировки сайта
AddDefaultCharset UTF-8

#Это запретит доступ к файлу .htaccess в случае дурно настроенного хостинга
RewriteRule .htaccess - [F]

#Если по заданному запросу существует файл в папке public
RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI} -f
#Переходим на него
#$0 - это первое выражение в скобках, то есть (.*)
RewriteRule ^(.*)$ public/$0 [L]

#По умолчанию всегда переходим на core.php
#При этом нужно разрешить входить в папку public напрямую,
#чтобы можно было реализовать правила выше
RewriteRule !(^public/) core.php [L]

#Страницы ошибок
#Запросы к этим файлам пройдут через переадресацию к core
#А он уже решит, что с этим делать
ErrorDocument 403 /403
ErrorDocument 404 /404

#Зпапретить вход в подпапки
#Символ "-" означает, что индексировать содержимое папок запрещено
#Options -Indexes

#Эта настройка обеспечивает не-создание автоматических переменных вместе с GET переменными
#Имеет важное значение для безопасности сайта
php_value register_globals 0

#Время жизни сессии в секундах
php_value session.gc_maxlifetime 3600
php_value session.cookie_lifetime 3600

#Позволяет запускать сессии и устанавливать куки ПОСЛЕ вывода
#Число - максимальное количество байт для буфера
php_value output_buffering Off