.box-form {
    font-family: 'Greta Sans Light';

    &__title {
        color: darken($clr-grey, 20);
        font-size: 1.2rem;
        display: block;
        margin-bottom: 0.5rem;
    }

    &__textarea {
        background: transparent;
        border: none;
        border-bottom: solid 1px $clr-grey;
        box-sizing: border-box;
        color: black;
        display: block;
        font-family: $global-font;
        font-size: 1.1rem;
        font-weight: normal;
        outline: none;
        padding-bottom: 0.6rem;
        margin-bottom: 0.25rem;
        resize: none;
        width: 100%;
        word-break: break-all;

        &[data-placeholdered] {
            color: $clr-grey;
        }
    }

    &__button-icon {
        margin-left: 1rem;
        font-weight: normal;
    }
}