.box {
    background: $clr-box;
    border-radius: 5px;
    padding:10px;
    margin-bottom:18px;
    font-family:Arial;
    font-size: 1.1rem;
    flex-grow: 1;
    color:black;
    font-size:14px;
    overflow:auto;

    &--login {
        padding: 10px 1.5rem;
        margin: 0;
    }
}
.box a[href]{
    color:#249dcd;
    font-family:Arial;
    text-decoration:underline;
}
.box a[href]:hover{
    color:#82dcff;
    text-decoration:none;
}