.box {
    background: $clr-box;
    border-radius: $global-box-radius;
    padding: 0.5rem;
    margin-bottom: 18px;
    font-family: Arial;
    font-size: 1.1rem;
    flex-grow: 1;
    color: black;
    font-size: 14px;
    overflow: hidden;

    &--login {
        padding: 10px 1.5rem;
        margin: 0;
        flex-grow: 0;
        width: 20rem;
    }

    &--table {
        padding: 0;
        // После добавления пагинатора над таблицей, в ней начал 
        // появляться скроллбар о_О. Скроем его.
        overflow: hidden;
    }

    &--headed {
        flex-grow: 0;
        margin: -0.5rem 0;
    }

    &__actions {
        margin-top: 0.5rem;
    }

    &__details {
        padding: 1rem 1rem 0.5rem;
    }

    &__header {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: inline-block;
        font-family: $global-font;
    }
}