.box {
    background: $clr-box;
    border-radius: $global-box-radius;
    padding: 0.5rem;
    margin-bottom: 18px;
    font-family: Arial;
    font-size: 1.1rem;
    flex-grow: 1;
    color: black;
    font-size: 14px;
    overflow: auto;

    &--login {
        padding: 10px 1.5rem;
        margin: 0;
        flex-grow: 0;
    }

    &--table {
        padding: 0;
    }

    &--headed {
        flex-grow: 0;
        margin: -0.5rem 0;
    }
}