.breadcrumbs {
    color: $clr-grey;
    font-size: 1.5rem;
    font-family: $global-font;

    &__item {
        text-decoration: none;

        &--link {
            color: $clr-color;
        }
        &--current {
            color: white;
        }
    }

    &__divisor::after {
        content: '/';
        font-size: 1.25rem;
    }
}