.chart-table {
    &__color-icon:before {
        margin-left: 0;
        font-size: 1rem;
    }

    &__loading {
        font-size: 0.9rem;
        display: inline-flex;
        justify-content: center;

        &:before {
            margin: 0;
            text-align: center;
        }
    }
}