.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-items: stretch;

    &__sidebox {
        padding: 0;
        width: $menu-width;
        vertical-align: top;
        background: $menu-background-color;
        flex-shrink: 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__content {
        flex-grow: 1;
    }
}