.content {
    padding: $content-padding $content-padding 0px;
    background: url('/public/images/admin/logo.png') no-repeat;
    background-position: center 50%;
    vertical-align: top;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__row {
        align-items: flex-start;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    
        &:not(:first-child) {
            margin-left: 1rem;
        }
    }

    &__title {
        color: white;
        display: block;
        font-family: $global-font;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__header &__title {
        margin-bottom: 0;
    }

    &__count {
        color: $clr-grey;
        font-family: $global-font;
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        margin-left: 0.2rem;
        line-height: 0;

        i:before {
            line-height: 0rem;
            // margin-right: 0.5rem;
            // margin-left: 0;
            // width: auto;
        }

        &--yellow {
            color: $box-yellow;
        }
        &--red {
            color: $box-red;
        }
    }

    &__clear-bckg {
        background: $global-background-color;
        width: 100%;
        height: 100%;
    }

    &__loading {
        color: white;
        font-size: 2rem;
    }
}