@import './colors.scss';

.dialog {
    $normal: #868686;
    $active: $clr-color;
    $new: #ef2626;
    $spacing: 1rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: $spacing / 2;
    border-radius: 10px;
    cursor: default;

    &__header {
        display: flex;
        align-items: center;
        font-size: 1.05rem;
        margin-bottom: 0.3rem;
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }

    &__date {
        font-weight: bold;
        margin-right: $spacing;
    }

    &__status {
        display: inline-flex;
        align-items: center;
        color: lighten($normal, 5);
    }

    &__status--active {
        color: $active;
    }

    &__status--new {
        color: $new;
    }

    &__status-icon {
        margin-right: $spacing;
    }

    &__status-text {
        margin-right: $spacing;
    }

    &__who {
        font-weight: bold;
        color: lighten($normal, 5);
    }

    &:hover {
        background: #dcdcdc;
    }
}