.menu {
    $vertical-spacing: 0.6rem;

    padding: 0;
    margin: 0;

    &__item {
        list-style: none;
    }

    &__link {
        align-items: center;
        color: #c5c5c5;
        display: flex;
        height: 2.5rem;
        text-decoration: none;
        font-family: $global-font;
        font-weight: bold;
        font-size: 18px;
        width: 100%;

        &:hover {
            background: #383838;
        }

        &--parent {
            cursor: default;
        }
    }

    &__icon {
        font-weight: normal;
        margin-left: 0.5rem;
        text-align: center;
        width: 2rem;

        &:before {
            vertical-align: middle;
        }
    }

    &__arrow {
        display: inline-block;
        font-weight: normal;
        margin-left: 0.5rem;

        &:before {
            height: 10px;
            width: 10px;
            line-height: 10px;
            margin: auto;
            text-align: center;
            vertical-align: middle;
        }
    }

    &__submenu {
        padding: 0;
        overflow: hidden;
    }

    &__submenu &__link {
        padding-left: 1.5rem;
    }
    &__submenu &__submenu &__link {
        padding-left: 1.5rem * 2;
    }
}