.menu {
    $vertical-spacing: 0.6rem;

    padding: 0;
    margin: 0;

    &__item {
        list-style: none;
    }

    &__link {
        color: #c5c5c5;
        display: inline-block;
        text-decoration: none;
        font-family: $global-font;
        font-weight: bold;
        font-size: 18px;
        width: 100%;

        &:hover {
            background: #383838;
        }

        &--parent {
            cursor: default;
        }
    }

    &__icon {
        font-weight: normal;
        float: left;
        padding: $vertical-spacing 0 $vertical-spacing 0.5rem;
        text-align: center;
        width: 2rem;
    }

    &__label {
        display: block;
        padding: $vertical-spacing 0;

        &:not(:last-child) {
            float: left;
        }
    }

    &__arrow {
        display: inline-block;
        font-weight: normal;
        padding: $vertical-spacing 0.5rem;
    }

    &__submenu {
        padding: 0;
        overflow: hidden;
    }

    &__submenu &__link {
        padding-left: 1.5rem;
    }
    &__submenu &__submenu &__link {
        padding-left: 1.5rem * 2;
    }
}