.notice {
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    padding: 0.2rem 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: normal;

    &__strong {
        font-weight: bold;
    }

    &--warning {
        background: $global-warning-color;
    }

    &--error {
        background: red;
    }

    &--fulled {
        width: 100%;
    }
}