.pager {
    $color: $box-yellow;
    $size: 1.6rem;

    font-family: $global-font;
    cursor: default;

    &:not(:first-child) {
        margin-top: 1rem;
    }

    &__item {
        border: solid 2px transparent;
        width: $size;
        height: $size;
        border-radius: 100%;
        color: $color;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        text-decoration: none;
        margin: 0px;
        font-weight: bold;
        cursor: default;
        outline: none;
    }

    &__item:hover {
        border-color: $color;
        cursor: pointer;
    }

    &__item--current {
        background: $color;
        border-color: $color;
        color: white;
    }

    &__item--current {
        cursor: default !important;
    }

    &__spacing {
        font-size: 1.5rem;
        color: $clr-grey;
    }
}