.param {
    font-family: $global-font;
    font-size: 1.1rem;

    &__number {
        color: $clr-grey;
        margin-right: 0.5rem;

        &:before {
            content: '#';
        }
    }

    &__name {
        &:after {
            content: ' => ';
            color: $clr-grey;
        }
    }

    &__value {
        &--empty {
            color: $clr-grey;
            font-style: italic;
        }
    }

    &__status {
        float: right;
    }
}