.param {
    font-family: $global-font;
    font-size: 1.1rem;
    padding: 0.1rem 0;

    &__number {
        color: $clr-grey;
        margin-right: 0.5rem;

        &:before {
            content: '#';
        }
    }

    &__name {
        &:after {
            content: ' => ';
            color: $clr-grey;
        }
    }

    &__value {
        &--empty {
            color: $clr-grey;
            font-style: italic;
        }
    }

    &__type {
        color: $box-blue;

        &:before {
            content: '(';
            white-space: pre;
        }
        &:after {
            content: ') ';
            white-space: pre;
        }
    }
}