.param {
    font-family: $global-font;
    font-size: 1.1rem;

    &__name {
        &:after {
            content: ' => ';
            color: $clr-grey;
        }
    }

    &__value {
        &--empty {
            color: $clr-grey;
            font-style: italic;
        }
    }
}