.routes {
    font-family: $global-font;
    font-size: 1.1rem;
    width: 100%;
    border-spacing: 0;

    &__headers {
        font-weight: bold;
        display: flex;
        padding: 0.5rem 1rem 0;
        margin: -0.5rem -0.5rem 0;
    }

    &__header {
        text-transform: uppercase;
        padding: 0 0 0.6rem 0;
    }

    &__item {
        margin: 0 -0.5rem;
        padding: 0.2rem 1rem;
        border-top: solid 1px #bfbfbf;

        &:hover {
            background: $clr-hoverbox;
        }
    }

    &__route {
        display: flex;
    }

    &__cell {
        align-self: center;
        display: inline-block;
        margin: 0.1rem 0;

        &--path {
            flex-grow: 1;
        }
        &--code {
            width: 4rem;
        }
        &--time {
            width: 7rem;
        }
    }

    &__pagename {
        margin-right: 0.5rem;

        &--index {
            color: $clr-grey;
            font-style: italic;
        }
    }

    &__mark {
        font-size: 1rem;
        padding: 0.1rem 0.5rem;
        border-radius: 1rem;
        color: white;

        &:before {
            content: '';
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 100%;
            margin-right: 0.3rem;
            background: white;
        }

        &--ajax {
            background: $box-yellow;
        }
        &--action {
            background: $box-blue;
        }
    }

    &__code {
        border-radius: 0.5rem;
        display: inline-block;
        padding: 0.2rem 0;
        width: 2.5rem;
        text-align: center;
        color: white;
        font-weight: bold;

        &--ok {
            background: $box-green;
        }
        &--warning {
            background: $box-yellow;
        }
        &--error {
            background: $box-red;
        }
    }

    &__get, &__status {
        display: block;
        padding: 0.5rem 0 0.5rem 1rem;
    }

    &__status {
        &--ok {
            color: $box-green;
        }
        &--warning {
            color: $box-yellow;
        }
        &--error {
            color: $box-red;
        }
    }

    &__status-code {
        font-weight: bold;
    }

    &__subheader {
        font-weight: bold;
        text-transform: uppercase;
    }

    &__param-value {
        &--empty {
            color: $clr-grey;
            font-style: italic;
        }
    }
}