@import './mark';
@import './mark2';

.routes {
    &__pagename {
        margin-right: 0.5rem;

        &--index {
            color: $clr-grey;
            font-style: italic;
        }
    }

    &__duration {
        color: $clr-grey;
    }

    &__mark {
        @extend .mark;
        &--ajax { @extend .mark--yellow; }
        &--action { @extend .mark--blue; }
        &--dynamic { @extend .mark--purple; }
    }

    &__code {
        @extend .mark2;
        &--ok { @extend .mark2--green; }
        &--warning { @extend .mark2--yellow; }
        &--error { @extend .mark2--red; }

        &--status { width: 3.4rem; }
    }

    &__status {
        &--ok {
            color: $box-green;
        }
        &--warning {
            color: $box-yellow;
        }
        &--error {
            color: $box-red;
        }
    }

    &__status-code {
        font-weight: bold;
    }
}