.table {
    font-family: $global-font;
    font-size: 1.1rem;
    width: 100%;
    border-spacing: 0;

    &__headers {
        font-weight: bold;
    }

    &__header {
        text-transform: uppercase;
        padding: 0.5rem 1rem;
    }

    &__item-wrapper {
        &:hover {
            background: $clr-hoverbox;
        }
    }

    &__cell {
        padding: 0.5rem 1rem;
        border-top: solid 1px #bfbfbf;
    }

    &__number {
        color: $clr-grey;
        &:before {
            content: '#';
        }
    }

    &__details {
        padding: 0 2rem;
    }
}