.table {
    font-family: $global-font;
    font-size: 1.1rem;
    width: 100%;
    border-spacing: 0;

    &__headers {
        font-weight: bold;
    }

    &__header {
        text-transform: uppercase;
        padding: 0.5rem 1rem;
    }

    &__title {
        display: inline-block;
        padding: 0.1rem calc(0.6rem + 1px);
        position: relative;
        right: calc(0.6rem + 1px);

        &--sortable:hover, &--sorted {
            padding: 0.1rem 0.6rem;
            background: $clr-hoverbox;
            border: solid 1px #bfbfbf;
            border-radius: 0.75rem;

            i.icon-down-dir:before {
                margin-right: 0;
                width: auto;
            }
        }

        &--sortable:hover {
            cursor: pointer;
        }
    }

    &__item-wrapper {
        &--opened {
            background: $clr-hoverbox;
        }
    }

    &__collapse {
        @extend .fontello;
        color: $clr-grey;

        &:before {
            margin: 0;
        }
    }

    &__cell {
        padding: 0.5rem 1rem;
        border-top: solid 1px #bfbfbf;

        &--collapse {
            cursor: pointer;
            text-align: center;
        }
    }

    &__cell--collapse:hover &__collapse {
        color: $global-button-color;
    }

    &__number {
        color: $clr-grey;
        &:before {
            content: '#';
        }
    }

    &__link {
        color: $clr-color;
        text-decoration: none;

        &:hover {
            color: $global-button-color;
        }
    }

    &__date {
        color: $clr-grey;
    }

    &__duration {
        color: $clr-grey;
    }

    &__details {
        padding: 0 1rem;
        overflow: hidden;

        &--indent {
            padding-left: 2rem;
        }
    }
}