.action-param {
    &__type {
        &--string { color: $box-blue; }
        &--int { color: $box-green; }
        &--password { color: $box-red; }

        &:before {
            content: '(';
            white-space: pre;
        }
        &:after {
            content: ')';
            white-space: pre;
        }
    }
}