@import './textarea';
@import '../notice';

.form {
    font-family: $global-font;
    font-size: 1.15rem;

    &__table {
        &--full {
            width: 100%;
        }
    }

    &__row {
        display: flex;
        align-items: baseline;
        margin-bottom: 0.35rem;
    }

    &__table &__row {
        display: table-row;
    }

    &__cell {
        &--key {
            width: 5rem;
        }
    }

    &__key {
        color: $clr-color;
        font-weight: bold;
        display: inline-block;
        white-space: nowrap;

        &:after {
            content: ': ';
            white-space: pre;
        }
    }

    &__input {
        background: $global-button-color;
        border: 0;
        border-radius: $global-box-radius;
        box-sizing: border-box;
        box-shadow: inset 0px 0px 0.5rem 0px #000;
        color: $clr-box;
        font-family: $global-font;
        font-size: 1.1rem;
        font-weight: normal;
        outline: none;
        padding: 5px 10px;
        width: 100%;
    }

    &__textarea {
        @extend .form__input;
        resize: none;
        overflow-y: hidden;

        &::placeholder {
            color: $clr-grey;
        }
    }

    &__button {
        @extend .button;
    }

    &__error {
        color: white;
        background: $box-red;
        font-weight: bold;
        font-size: 0.9rem;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        border-radius: 10px;
        padding: 0.25rem 0.5rem;
        margin-left: 0.5rem;

        &--full {
            display: block;
            margin-bottom: 0.7rem;
            margin-left: 0;
            color: $box-red;
            background: none;
            border-radius: 0;
            padding: 0;
        }
    }

    &__field-container {
        flex-grow: 1;
    }

    &--short &__field-container {
        flex-grow: 0;
        width: 15rem;
    }
}