.footer {
    width: 75%;
    color: #fff;
    padding: $slide-padding-y $slide-padding-x;
    font-size: .85rem;

    &__info {
        display: block;
        margin: 2px 0;
    }

    &__link {
        color: $color-button;
        text-decoration: none;

        &:hover {
            color: $color-label;
        }
    }
}