.footer {
    $text-color: white;

    width: 75%;
    color: $text-color;
    padding: $slide-padding-y $slide-padding-x;
    font-size: .85rem;
    display: flex;
    justify-content: space-between;

    &__info {
        display: block;
        margin: 2px 0;
    }

    &__link {
        color: $color-button;
        text-decoration: none;

        &:hover {
            color: $color-label;
        }
    }

    &__icon {
        color: $text-color;
    }
}