.form__button {
    background: none;
    color: #7f9faa;
    padding: 0.2rem 0.5rem;
    border: solid 1px #7f9faa;
    border-radius: 0.4rem;
    text-decoration: none;
    font-size: .8rem;
    outline: none;
}
.form__button:hover {
    color: $color-button;
    border-color: $color-button;
}
.form__input {
    font-family: 'Calibri';
    font-size: 0.8rem;
    outline: none;
    border: solid 1px #81d481;
    padding: 0.2rem;
}
.form__label {
    font-family: 'Calibri';
}
.form__require {
    color: red;
}