.fundamentals {
    $rows-spacing: 2rem;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-top: -$rows-spacing;

    &__item {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__anchor {
        margin-bottom: $rows-spacing;
    }

    &__title {
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 700;
        color: $color-label;
    }

    &__desc {
        font-size: .9rem;
        color: $color-grey-dark;
        padding: 0 0.75rem;
        font-family: Calibri
    }

    &__icon {
        margin-bottom: 0.5rem;
    }

    &--two-parts &__item {
        width: 45%;
    }
}