.header {
    background: url(/public/images/header.png);
    padding: $header-padding;

    &__label {
        color: white;
        padding: 8px;
    }
}
.header__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.header__logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none
}
.header__menu {
    display: inline-block;
    font-size: .9rem
}
.header__button {
    color: #fff;
    padding: 8px 14px;
    border: solid 2px #add8e6;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem
}
.header__button:hover {
    color: #add8e6;
    -webkit-box-shadow: 0 0 10px 1px #add8e6;
    -moz-box-shadow: 0 0 10px 1px #add8e6;
    box-shadow: 0 0 10px 1px #add8e6
}
.header__content {
    padding: 150px 0
}
.header__text {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700
}
.header__subtext {
    color: #add8e6;
    display: block;
    margin-top: 20px
}