.slide {
    padding: 0 $slide-padding-x $slide-padding-y;
    background: $color-light;
    color: black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
    &__header {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        margin: $slide-padding-y 0;
    }

    &__content {
        margin-top: 1.8rem;
    }

    &--dark {
        background: $color-dark;
        color: $color-light;
    }
}