@font-face {
	font-family: "Greta Sans Light";
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.svg#typotheque_webfonts_service") format("svg");
}

$clr-color: #249dcd;
$clr-box: #e4e4e4;
$clr-hoverbox: #dcdcdc;
$clr-grey: #939393;
$global-font: "Greta Sans Light";

@import 'admin/box-form';
@import 'admin/box';
@import 'admin/centered-wrapper';
@import 'admin/checkbox';
@import 'admin/dialog';
@import 'admin/head-bar';
@import 'admin/menu';
@import 'admin/message';
@import 'admin/notice';