/* Для Linux Ubuntu */
@font-face {font-family: "Consolas";src: url("../fonts/consolas.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "Consolas";src: url("../fonts/consolas-bold.ttf") format("truetype");font-style: normal;font-weight: bold;}
@font-face {font-family: "Consolas";src: url("../fonts/consolas-italic.ttf") format("truetype");font-style: italic;font-weight: normal;}
@font-face {font-family: "Tahoma";src: url("../fonts/tahoma.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "Arial Narrow";src: url("../fonts/arial-narrow.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "Calibri";src: url("../fonts/calibri.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "Calibri";src: url("../fonts/calibri-bold.ttf") format("truetype");font-style: normal;font-weight: bold;}

/* теги */
h1, h2, h3{font-family:Arial;margin:0;font-weight:bold;color:#249dcd;margin-bottom:18px}

table.big-inputs{width:100%;}
table.big-inputs input{width:50%;}

/* текст */
i.f-icon{font-family:fontello;font-style:normal}
p.content-text{font-size:12pt;white-space:pre-wrap;word-wrap:break-word;word-break:break-all}
h3{margin:0}