@font-face {
	font-family: "Greta Sans Light";
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.svg#typotheque_webfonts_service") format("svg");
}

$clr-color: #249dcd;
$clr-box: #e4e4e4;
$clr-hoverbox: #dcdcdc;
$clr-grey: #939393;
$global-background-color: #060517;
$global-button-color: #1e4469;
$global-warning-color: #b3ab00;
$global-font: "Greta Sans Light";
$global-box-radius: 10px;

@import 'admin/article';
@import 'admin/author';
@import 'admin/box-form';
@import 'admin/box';
@import 'admin/breadcrumbs';
@import 'admin/centered-wrapper';
@import 'admin/checkbox';
@import 'admin/comment';
@import 'admin/content';
@import 'admin/dialog-list';
@import 'admin/dialog';
@import 'admin/head-bar';
@import 'admin/link';
@import 'admin/menu';
@import 'admin/message';
@import 'admin/notice';
@import 'admin/pager';

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: $global-background-color;
}

button, .button, .button-hovered {
    // background: $global-button-color;
    // border: none;
    // border-radius: $global-box-radius;
    // box-shadow: none;
    // color: white !important;
    // display: inline-block;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    // font-size: 1rem;
    // font-weight: bold;
    // padding: 0.6rem 2rem;
    // outline: none;
    // text-decoration: none !important;
    // text-transform: uppercase;

    // &:hover {
    //     background: lighten($global-button-color, 10);
    //     box-shadow: none;
    //     color: white !important;
    //     cursor: pointer;
    // }

    background: $global-button-color;
    border: 0px;
    border-radius: 7px;
    color: #c4c5c6;
    display: inline-block;
    font-family: Tahoma;
    font-size: 13px;
    padding: 8px 20px;
    text-decoration: none;
    margin:0px;
    font-weight:normal;
    cursor:default;
    outline: none;

    &:hover {
        background: none;
        color: $clr-color;
        box-shadow: inset 0px 0px 30px 0px $clr-color;
        cursor: pointer;
    }
}