/* Для Linux Ubuntu */
@font-face {font-family: "Consolas";src: url("../fonts/consolas.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "Consolas";src: url("../fonts/consolas-bold.ttf") format("truetype");font-style: normal;font-weight: bold;}
@font-face {font-family: "Consolas";src: url("../fonts/consolas-italic.ttf") format("truetype");font-style: italic;font-weight: normal;}
@font-face {font-family: "Tahoma";src: url("../fonts/tahoma.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "Arial Narrow";src: url("../fonts/arial-narrow.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "Calibri";src: url("../fonts/calibri.ttf") format("truetype");font-style: normal;font-weight: normal;}
@font-face {font-family: "Calibri";src: url("../fonts/calibri-bold.ttf") format("truetype");font-style: normal;font-weight: bold;}

/* теги */
h1, h2, h3{font-family:Arial;margin:0;font-weight:bold;color:#249dcd;margin-bottom:18px}
form{font-family:Arial;font-weight:bold;color:#249dcd;font-size:16px}
input{background: #1e4469;border: 0;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;box-sizing: border-box;box-shadow: inset 0px 0px 10px 0px #000;color: #c4c5c6;font-family: Arial;font-size: 20px;outline: none;padding: 5px 10px;}
form button{margin-top:7px}

table.big-inputs{width:100%;}
table.big-inputs input{width:50%;}

/* текст */
i.f-icon{font-family:fontello;font-style:normal}
p.content-text{font-size:12pt;white-space:pre-wrap;word-wrap:break-word;word-break:break-all}
h3{margin:0}