// @font-face {
//     font-family: 'fontello';
//     src: url('../fonts/fontello/font/fontello.eot?91754753');
//     src: url('../fonts/fontello/font/fontello.eot?91754753#iefix') format('embedded-opentype'),
//         url('../fonts/fontello/font/fontello.woff?91754753') format('woff'),
//         url('../fonts/fontello/font/fontello.ttf?91754753') format('truetype'),
//         url('../fonts/fontello/font/fontello.svg?91754753#fontello') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
	font-family: "Greta Sans Light";
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.svg#typotheque_webfonts_service") format("svg");
}

@import '../fonts/fontello/css/fontello-embedded.css';

$clr-color: #249dcd;
$clr-box: #e4e4e4;
$clr-hoverbox: #dcdcdc;
$clr-grey: #939393;

$global-background-color: #060517;
$global-button-color: #1e4469;
$global-ok-color: green;
$global-warning-color: #b3ab00;
$global-error-color: red;

$box-blue: #3F51B5;
$box-yellow: #b3ab00;
$box-red: #F44336;
$box-green: #4CAF50;
$box-purple: #9c27b0;

$menu-background-color: #131313;
// $menu-icon-color: #5a5e8d;
$menu-icon-color: $clr-grey;
$menu-text-color: white;

$global-color-lightened: lighten($clr-color, 35);
$global-ok-color-lightened: lighten($global-ok-color, 60);
$global-warning-color-lightened: lighten($global-warning-color, 50);
$global-error-color-lightened: lighten($global-error-color, 35);

$global-font: "Greta Sans Light";
$global-box-radius: 10px;

@import 'admin/base/button';
@import 'admin/base/radio';
@import 'admin/base/file-input';
@import 'admin/base/form';
@import 'admin/base/textarea';

@import 'admin/stats/stat-status';

@import 'admin/actions';
@import 'admin/article';
@import 'admin/author';
@import 'admin/box-form';
@import 'admin/box';
@import 'admin/breadcrumbs';
@import 'admin/centered-wrapper';
@import 'admin/checkbox';
@import 'admin/comment';
@import 'admin/container';
@import 'admin/content';
@import 'admin/details';
@import 'admin/dialog';
@import 'admin/head-bar';
@import 'admin/link';
@import 'admin/mark';
@import 'admin/mark2';
@import 'admin/menu';
@import 'admin/message';
@import 'admin/notice';
@import 'admin/pager';
@import 'admin/param';
@import 'admin/routes';
@import 'admin/status';
@import 'admin/table';
@import 'admin/actions/action-list';
@import 'admin/actions/action-param';
@import 'admin/database/query';
@import 'admin/events/emit-list/executed-subscriber';
@import 'admin/modules/module-right';

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: $global-background-color;
}