@font-face {
    font-family: Lato;
    src: local("Lato"),url(../fonts/Lato-Regular.ttf) format("truetype")
}

/* подключение fontello */
@font-face {font-family: "fontello";src: url("/public/fonts/fontello.ttf");font-style: normal;font-weight: normal;}
.fontello{font-family:fontello;font-style:normal}
.icon-ok:before { content: '\e80b'; } /* '' */

html {
    font-size: 20px;
    font-family: Lato
}

body {
    background: #293133
}

/* header */
.header {
    background: url(/public/images/header.png);
    padding: 20px
}
.header__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.header__container {
    width: 75%;
    margin: auto
}
.header__logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none
}
.header__menu {
    display: inline-block;
    font-size: .9rem
}
.header__button {
    color: #fff;
    padding: 8px 14px;
    border: solid 2px #add8e6;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem
}
.header__button:hover {
    color: #add8e6;
    -webkit-box-shadow: 0 0 10px 1px #add8e6;
    -moz-box-shadow: 0 0 10px 1px #add8e6;
    box-shadow: 0 0 10px 1px #add8e6
}
.header__content {
    padding: 150px 0
}
.header__text {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700
}
.header__subtext {
    color: #add8e6;
    display: block;
    margin-top: 20px
}

/* header-menu */
.header-menu__item {
    color: #fff;
    text-decoration: none;
    padding: 8px
}
.header-menu__item:hover {
    color: #ccc
}

/* slide */
.slide {
    padding: 40px 0
}
.slide__container {
    width: 75%;
    margin: auto
}
.slide:nth-of-type(odd) {
    background: #293133
}
.slide:nth-of-type(even) {
    background: #f6f7f9
}
.slide__header {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: #000
}

.link {
    text-decoration: none;
    color: #7f9faa;
}
.link:hover {
    text-decoration: underline;
}

.fundamentals {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.fundamentals__item {
    width: 48%
}

.fundamentals__title {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    color: #81d481
}

.fundamentals__desc {
    font-size: .9rem;
    color: grey;
    text-align: justify;
    padding-bottom: 20px;
    font-family: Calibri
}

.fundamentals__icon {
    float: left;
    margin-right: 20px;
    padding-bottom: 50px
}

.footer {
    width: 75%;
    margin: auto;
    color: #fff;
    padding: 30px 0;
    font-size: .85rem
}

.footer__info {
    display: block;
    margin: 2px 0
}

.container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 1rem auto;
}
.container__content {
    flex-grow: 1;
}
.container__sidebox {
    max-width: 15rem;
    min-width: 15rem;
}

.error, .notice {
    padding: 0.3rem 0.6rem;
    border-radius: 7px;
    display: block;
    font-family: 'Calibri';
    font-size: 0.8rem;
}
.error {
    color: red;
    background: rgb(255, 202, 202);
}
.notice {
    color: rgb(0, 138, 0);
    background: rgb(195, 255, 195);
}

/* widget */
.widget {
    background: #f6f7f9;
    font-family: 'Lato';
}
.widget__title {
    text-transform: uppercase;
    font-weight: 700;
    color: #81d481;
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}
.widget__content {
    font-size: 0.9rem;
    padding: 0 1rem 1rem;
}

/* формы */
.form__button {
    background: none;
    color: #7f9faa;
    padding: 8px 14px;
    border: solid 2px #7f9faa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem
}
.form__button:hover {
    color: #9ac2cf;
    border-color: #9ac2cf;
}

.login-form__input {
    background: #293133;
    border: none;
    border-radius: 0.4rem;
    box-sizing: border-box;
    color: #81d481;
    font-family: "Calibri";
    font-size: 0.9rem;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 7px;
    padding-left: 1.6rem;
    display: block;
    width: 100%;
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 0.5rem center;
}
.login-form__input--login {
    background-image: url('/public/images/icons/user_login.png');
    
}
.login-form__input--password {
    background-image: url('/public/images/icons/lock.png');
}

/**
 * label checkbox.
 * В одном div'e можно вставлять множество чекбоксов.
 * i - это сама иконка: вставлять i.fontello.icon-ok
 * Текст чекбокса вставлять в span сразу после label.
 */
.login-form__checkbox {
    -moz-user-select:none;
    -webkit-user-select:none;
}
.login-form__checkbox input {
    display:none;
}
.login-form__checkbox label {
    display:inline-block;
    width:20px;
    height:20px;
    color: #81d481;
    margin-right:5px;
    position:relative;
    top:3px;
    border:solid 1px red
}
.login-form__checkbox label:hover {
    cursor: pointer;
}
.login-form__checkbox label i {
    position:absolute;
    font-family:fontello;
    display:none;
    cursor: default;
}
.login-form__checkbox span {
    position:relative;
    bottom:2px;
    font-family:Calibri;
}
.login-form__checkbox input:checked + label {
    border-color: #81d481;
}
.login-form__checkbox input:checked + label i {
    display:inline;
}
.login-form__checkbox input:checked + label + span {
    color: #81d481;
}