$color-light: #f6f7f9;
$color-dark: #293133;
$color-label: #81d481;
$color-button: #9ac2cf;
$color-grey-dark: #717171;
$color-grey-light: #e0e0d1;

$slide-padding-x: 10%;
$slide-padding-y: 1.8rem;
$header-padding: 1rem 10%;

@import '../fonts/fontello/css/fontello-embedded.css';
@import '../fonts/fontello/css/animation.css';

@import 'site/header';
@import 'site/slide';
@import 'site/fundamentals';
@import 'site/login-form';
@import 'site/footer';
@import 'site/form';
@import 'site/features';