@font-face {
    font-family: Lato;
    src: local("Lato"),url(../fonts/Lato-Regular.ttf) format("truetype")
}

html {
    font-size: 20px;
    font-family: Lato
}

body {
    background: #293133;
    color: white;
}

/* header-menu */
.header-menu__item {
    color: #fff;
    text-decoration: none;
    padding: 8px
}
.header-menu__item:hover {
    color: #ccc
}

/* content */
.content {
    background: #f6f7f9;
    color: black;
    margin-right: 1rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    overflow: hidden;
}

/* content-header */
.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content-header__button {
    background: none;
    color: #7f9faa;
    padding: 8px 14px;
    border: solid 2px #7f9faa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem
}
.content-header__button:hover {
    color: #9ac2cf;
    border-color: #9ac2cf;
}

.link {
    text-decoration: none;
    color: #5a757e;
}
.link:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 1rem auto;
}
.container__content {
    flex-grow: 1;
}
.container__sidebox {
    max-width: 15rem;
    min-width: 15rem;
}

.error, .notice {
    padding: 0.3rem 0.6rem;
    border-radius: 7px;
    display: block;
    font-family: 'Calibri';
    font-size: 0.8rem;
}
.error {
    color: red;
    background: rgb(255, 202, 202);
}
.notice {
    color: rgb(0, 138, 0);
    background: rgb(195, 255, 195);
}