.query {
    padding: 0.1rem 0; // .param при inline теряет вертикальный padding.

    &__duration {
        color: $clr-grey;

        &:before {
            content: ' (';
            white-space: pre; // Чтобы работал пробел в content.
        }
        &:after {
            content: ')';
        }
    }

    .param {
        display: inline;
    }
}